# Copia este archivo a .env y ajusta valores
# Windows (PowerShell): Copy-Item .env.example .env

# Obligatorio para Django
SECRET_KEY=
DEBUG=True

# Correo (en dev se recomienda consola)
# Si no defines EMAIL_BACKEND, en DEBUG se usará console backend.
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Si usas SMTP (producción o pruebas reales)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Sistema <no-reply@dominio.com>

# Opcional (si decides manejar Google OAuth por settings)
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
