{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrar Salida | Sistema de Administración de Condominios{% endblock %}
{% block header %}Registrar Salida de Residente{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                <h5><i class="fas fa-sign-out-alt"></i> Registrar Salida</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form.residente|as_crispy_field }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.vehiculo|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.placa_vehiculo|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mt-4 d-flex justify-content-between">
                        <a href="{% url 'movimiento-list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-check"></i> Registrar Salida
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}